html {
    background-color: #F1F5f9;
    font-family: "Ubuntu", sans-serif;
    text-transform: capitalize;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 88ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

a {
    transform: scale(1);
    transition: transform 0.5s ease;
}

a:hover {
    transform: scale(1.1);
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

/* Nav Style */

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
}

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
}

.nav-links a:hover, .nav-links a:focus {
    background-color: #ff9776;
}

.expanded {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }
}

.leftside {
    margin-left: 0;
}

a {
    text-transform: capitalize;
    text-decoration: none;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    margin: .25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.5em;
    background-color: #f8fcfd;
}

.tag:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.greetBtn {
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
    border-radius: 5px;
    transform: scale(1);
    transition: transform 0.5s ease;
}

.greetBtn:hover {
    color:#4c1d95;
    background-color: white;
    transform: scale(1.1);
}

.baselayout {
    margin: 0 auto;
}