---
import BaseLayout from "../Layouts/BaseLayout.astro";
const pageTitle = "Blog Posts"
---
<BaseLayout pageTitle={pageTitle}>
        <p>This is where I'm gonna post about my journey</p>

		<ul>
			<li><a href="/posts/post-1">First Post</a></li>
			<li><a href="/posts/post-2">Second Post</a></li>
			<li><a href="/posts/post-3">Third Post</a></li>
		</ul>
</BaseLayout>